@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');
#doctorcard{
    background: #626ee3;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background:linear-gradient(rgb(98, 110, 227), #3d469f);
}
#doctorcard:hover {
    background-color: #41499b;
    box-shadow: 0px 15px 20px rgb(81, 86, 143);
    color: #fff;
    transform: translateY(-7px);
}
#nursecard{
    background: #bb20dd;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background:linear-gradient(rgb(187, 32, 221), #801c96);
}

#nursecard:hover {
    background-color: #620d75;
    box-shadow: 0px 15px 20px rgb(98, 67, 105);
    color: #fff;
    transform: translateY(-7px);
}
#manageappointments{
    background: #3c9336;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background:linear-gradient(rgb(73, 204, 64), #3c9336);
}
#manageappointments:hover {
    background-color: #3C9336FF;
    box-shadow: 0px 15px 20px rgb(33, 82, 30);
    color: #fff;
    transform: translateY(-7px);
}
#seevitals{
    background: rgba(171, 17, 40, 0.9);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background:linear-gradient(rgb(171, 17, 40, 0.9), rgba(166, 42, 61, 0.9));
}
#seevitals:hover {
    background-color: #AB1128E5;
    box-shadow: 0px 15px 20px rgba(75, 5, 15, 0.9);
    color: #fff;
    transform: translateY(-7px);
}
.card{
    margin: 0.9rem;
    width: 18rem;
}
.card-text{
    color: #ffffff;
    font-size: large;
}

.list{
    display: inline-flex;
    margin-top: 7rem;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
}

#picture{

    width: 18rem;
    height: 18rem;
    margin-left: calc(60% - 18rem);
}

#container{
    box-shadow: 0 15px 30px 1px grey;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 10em;
    width: 30vw;
}

.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 3px;
    height: 100%;
    float: left;
    width: 40%;

}
#container .product-details h1{
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #344055;
    margin: 0;
}

#container .product-details h1:before{
    position: absolute;
    content: '';
    right: 0%;
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Bree Serif', serif;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
    animation: chan-sh 6s ease infinite;
}
#container .product-details > p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    color: #7d7d7d;

}
.control{

    bottom: 5%;
    width: 100%;
    display: flex;
    overflow: visible;

}
.pendingAppointments
{
    max-width: 50%;
    width: 50%;
}
.approvedAppointments
{
    max-width: 50%;
    width: 50%;
    border-left: #0b427e;
}
.appointment
{
margin-top: 2%;
}